<!-- Footer -->
<footer class="page-footer font-small" style="background-color: lightgray">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong></strong>
                </h6>
                <hr style="width: 60px;">
                <p>
                    <a href="https://evommo.com">
                        <img src="../../assets/evoteamlogo-300x212.png" width="231" height="163" style="float: right;" alt="Evo Team - Make The Evolution">
                    </a>
                </p>
            </div>
            <div class="col-xs-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>ABOUT US</strong>
                </h6>
                <hr style="width: 60px;">
                <p>Evo Team của chúng tôi bao gồm các thành viên đã có kinh nghiệm trên thị trường tiền số lâu năm. Chúng tôi
                    lập trang web này với mong muốn chia sẻ kinh nghiệm cho các bạn newbie đang mong muốn nhảy vào lĩnh vực
                    tiền số này nhằm giảm bớt rủi ro nhất cho các bạn.</p>
                <p>Contact us:
                    <a href="mailto:contact@evommo.com">contact@evommo.com</a>
                </p>
            </div>
            <div class="col-xs-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>FOLLOW US</strong>
                </h6>
                <hr style="width: 60px;">

                <p>
                    <!--Facebook-->
                    <a type="button" class="btn-floating btn-lg btn-fb" target="_blank" href="https://www.facebook.com/groups/EvoteamFreeShare/">
                        <i class="fa fa-facebook" style="font-size:36px"></i>
                    </a>

                    <!--Youtube-->
                    <a type="button" class="btn-floating btn-lg btn-yt" target="_blank" href="https://www.youtube.com/channel/UCwJjFEw5BdDadGEQog0ElKQ">
                        <i class="fa fa-youtube" style="font-size:36px"></i>
                    </a>
                </p>

            </div>
        </div>
    </div>
</footer>