<h2>{{title}}</h2>
<div>
    <select [(ngModel)]="timeFrame" (ngModelChange)="func()" style="cursor: pointer; padding:5px;">
        <option value="300">5m</option>
        <option value="1800">30m</option>
        <option value="3600">1h</option>
        <option value="14400">4h</option>
        <option value="86400">1d</option>
        <option value="604800">1w</option>
    </select>
</div>
<div style="width:100%"> <!-- Main div -->
    <div style="float: left; width:40%;">
        <h2 style="color:green">Out of Upper Bollinger Band</h2>
        <div *ngIf="bollingerbandResponse.OutOfUpperBB">
            <ul>
                <li *ngFor="let bb of bollingerbandResponse.OutOfUpperBB" style="margin:10px">
                    <a href="https://www.binance.com/tradeDetail.html?symbol={{bb.currencySymbol}}_{{bb.baseCurrencySymbol}}" target="_blank">{{bb.currencySymbol}}/{{bb.baseCurrencySymbol}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div style="float: left; width:40%; margin-left:10px;">
        <h2 style="color:red">Out of Lower Bollinger Band</h2>
        <div *ngIf="bollingerbandResponse.OutOfLowerBB">
            <ul>
                <li *ngFor="let bb of bollingerbandResponse.OutOfLowerBB" style="margin:10px">
                    <a href="https://www.binance.com/tradeDetail.html?symbol={{bb.currencySymbol}}_{{bb.baseCurrencySymbol}}" target="_blank">{{bb.currencySymbol}}/{{bb.baseCurrencySymbol}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>