ul {
    list-style-type: none;
    padding-left: 0px;
}

.rvline {
    border-right: 6px solid green;
}

.lvline {
    border-left: 6px solid red;
}

.sort {
    cursor: pointer;
    border: 1px;
}

table th {
    text-align: center;
}
table td {
    text-align: center;
}
    
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


* {
    box-sizing: border-box;
}

.column {
    float: left;
    padding: 10px;
    text-align: center;
}

.column2 {
    width: 50%;
}

.column4 {
    width: 25%;
}

/* Clear float after the column */
.row:after .container:after .container:before {
    content: "";
    display: table;
    clear: both;
}

.container {
    padding:0.01em 16px
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column2 {
        width: 100%;
    }
}