<div class="container-fluid main-content">
    <app-header></app-header>

    <nav class="navbar navbar-inverse" style="margin-bottom: 0px;">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <!-- <li><a routerLink="/trendline">Trendline</a></li> -->
                <!-- <li><a routerLink="/rsi">RSI</a></li> -->
                <li>
                    <a routerLink="/bollingerbandstream">Bollinger Band</a>
                </li>
                <li>
                    <a routerLink="/realcashflow">Real Cash Flow</a>
                </li>
                <li>
                    <!-- <a routerLink="/telegram">Telegram</a> -->
                    <a href="https://t.me/luongsonbac" target="_blank">Telegram</a>
                </li>
                <li>
                    <a routerLink="/guide">Hướng Dẫn Sử Dụng</a>
                </li>
                <li>
                    <a href="https://goo.gl/TtS3eg">Thông Tin Class</a>
                </li>
                <li>
                    <a href="https://evommo.com" target="_blank">Tin Tức</a>
                </li>
            </ul>

            <ul class="nav navbar-nav" style="float: right;">
                <li>
                    <a href="https://www.facebook.com/groups/369855803470974/" target="_blank">Group</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/evocrypto/" target="_blank">Fanpage</a>
                </li>
                <li>
                    <a href="https://evommo.com/" target="_blank">Website</a>
                </li>
            </ul>
        </div>

    </nav>

    <div class="row">
        <div class="col-md-10 col-sm-12">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
        <div class="col-md-2 col-sm-0" id="myScrollspy">
            <app-rightside-bar></app-rightside-bar>
        </div>
    </div>

    <app-footer></app-footer>
</div>

<!-- 
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->