<div class="container-fluid">
    <div class="page-header">
        <img width="96" style="border: 0px" class="img-thumbnail" src="../../assets/evoteam.png" alt="Evo Team">
    </div>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/trendline">Trendline</a></li>
                <li><a routerLink="/rsi">RSI</a></li>
                <li><a routerLink="/bollingerband">Bollinger band</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="row">
        <div class="col-md-10 col-sm-12">
            <router-outlet></router-outlet>
        </div>
        <div class="col-md-2 col-sm-0" id="myScrollspy">
            <app-leftside-bar ></app-leftside-bar>
        </div>
    </div>
</div>

<!-- 
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->