<div class="container-fluid">
    <div class="jumbotron red-yellow-animation" style="text-align: center;">
        <h2>Ưu đãi đặc biệt chỉ có trong tháng 6 này</h2>
    </div>

    <div class="row row-eq-height">
        <div class="col-xs-3">
            <div style="text-align: center">
                <div class="alert invisible">
                    <strong>Phổ biến nhất</strong>
                </div>
            </div>
            <div class="package">
                <div style="text-align: center">
                    <div class="well">Free trong 7 ngày</div>
                    <h2 style="color: green"><strong>Gói FREE</strong></h2>
                </div>
                <ul>
                    <li><strong>Bollinger Bands </strong>
                        <br>
                        - (Xem cách sử dụng tại <a [routerLink]="['/guide']">đây</a>)</li>
                    <li><strong>Real Cash Flow </strong>
                        <br>
                        - (Xem cách sử dụng tại <a [routerLink]="['/guide']">đây</a>)</li>
                    <li class="invisible"><strong>Kênh Telegram bao gồm:</strong>
                        <br>
                        - Báo kèo siêu nhanh - chất (Tối thiểu 1 kèo/ngày, kèo ngắn - trung - dài hạn);
                        <br>
                        - Kênh cung cấp thông tin đặc biệt (Coin list sàn, Test ví, Airdrop, Hardfork, hội thảo ...)</li>
                    <li class="invisible">- Tham gia học class offline hoặc online về trade coin</li>
                    <li class="invisible">- Tham gia offline cùng trade coin, chia sẻ kiến thức, kinh nghiệm cao cấp tại văn phòng</li>
                </ul>
                <div style="text-align: center;">
                    <span class="blinking-cursor"> <img src="../../assets/left-to-right-arrow.png" width="16" height="16"> </span>
                    <button *ngIf="!currentUser" type="button" class="btn btn-success" [routerLink]="['../packagedetail', 'free']">Đăng ký ngay</button>
                    <button *ngIf="currentUser" type="button" class="btn btn-success" [routerLink]="['../payment', 'free']">Nâng cấp ngay</button>
                    <span class="blinking-cursor"> <img src="../../assets/right-to-left-arrow.png" width="16" height="16"> </span>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div style="text-align: center">
                <div class="alert invisible">
                    <strong>Phổ biến nhất</strong>
                </div>
            </div>
            <div class="package">
                <div style="text-align: center">
                    <div class="well">Chỉ 0.003 BTC/tháng</div>
                    <h2 style="color: gold"><strong>Gói VÀNG</strong></h2>
                </div>
                <ul>
                    <li><strong>Bollinger Bands </strong>
                        <br>
                        - (Xem cách sử dụng tại <a [routerLink]="['/guide']">đây</a>)</li>
                    <li><strong>Real Cash Flow </strong>
                        <br>
                        - (Xem cách sử dụng tại <a [routerLink]="['/guide']">đây</a>)</li>
                    <li class="invisible"><strong>Kênh Telegram bao gồm:</strong>
                        <br>
                        - Báo kèo siêu nhanh - chất (Tối thiểu 1 kèo/ngày, kèo ngắn - trung - dài hạn);
                        <br>
                        - Kênh cung cấp thông tin đặc biệt (Coin list sàn, Test ví, Airdrop, Hardfork, hội thảo ...)</li>
                    <li class="invisible">- Tham gia học class offline hoặc online về trade coin</li>
                    <li class="invisible">- Tham gia offline cùng trade coin, chia sẻ kiến thức, kinh nghiệm cao cấp tại văn phòng</li>
                </ul>
                <div style="text-align: center">
                    <span class="blinking-cursor"> <img src="../../assets/left-to-right-arrow.png" width="16" height="16"> </span>
                    <button *ngIf="!currentUser" type="button" class="btn btn-success" [routerLink]="['../packagedetail', 'gold']">Đăng ký ngay</button>
                    <button *ngIf="currentUser" type="button" class="btn btn-success" [routerLink]="['../payment', 'gold']">Nâng cấp ngay</button>
                    <span class="blinking-cursor"> <img src="../../assets/right-to-left-arrow.png" width="16" height="16"> </span>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div style="text-align: center">
                <div class="alert alert-success">
                    <strong>Phổ biến nhất</strong>
                </div>
            </div>
            <div class="package">
                <div style="text-align: center">
                    <div class="well">Chỉ 0.012 BTC/tháng</div>
                    <h2 style="color: plum"><strong>Gói KIM CƯƠNG</strong></h2>
                </div>
                <ul>
                    <li><strong>Bollinger Bands </strong>
                        <br>
                        - (Xem cách sử dụng tại <a [routerLink]="['/guide']">đây</a>)</li>
                    <li><strong>Real Cash Flow </strong>
                        <br>
                        - (Xem cách sử dụng tại <a [routerLink]="['/guide']">đây</a>)</li>
                    <li><strong>Kênh Telegram bao gồm:</strong>
                        <br>
                        - Báo kèo siêu nhanh - chất (Tối thiểu 1 kèo/ngày, kèo ngắn - trung - dài hạn);
                        <br>
                        - Kênh cung cấp thông tin đặc biệt (Coin list sàn, Test ví, Airdrop, Hardfork, hội thảo ...)</li>
                    <li class="invisible">- Tham gia học class offline hoặc online về trade coin</li>
                    <li class="invisible">- Tham gia offline cùng trade coin, chia sẻ kiến thức, kinh nghiệm cao cấp tại văn phòng</li>
                </ul>
                <div style="text-align: center">
                    <span class="blinking-cursor"> <img src="../../assets/left-to-right-arrow.png" width="16" height="16"> </span>
                    <button *ngIf="!currentUser" type="button" class="btn btn-success" [routerLink]="['../packagedetail', 'diamond']">Đăng ký ngay</button>
                    <button *ngIf="currentUser" type="button" class="btn btn-success" [routerLink]="['../payment', 'diamond']">Nâng cấp ngay</button>
                    <span class="blinking-cursor"> <img src="../../assets/right-to-left-arrow.png" width="16" height="16"> </span>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div style="text-align: center">
                <div class="alert invisible">
                    <strong>Phổ biến nhất</strong>
                </div>
            </div>
            <div class="package">
                <div style="text-align: center">
                    <div class="well">Chỉ 0.018 BTC/tháng</div>
                    <h2 style="color: blueviolet"><strong>Gói SUPER VIP</strong></h2>
                </div>
                <ul>
                    <li><strong>Bollinger Bands </strong>
                        <br>
                        - (Xem cách sử dụng tại <a [routerLink]="['/guide']">đây</a>)</li>
                    <li><strong>Real Cash Flow </strong>
                        <br>
                        - (Xem cách sử dụng tại <a [routerLink]="['/guide']">đây</a>)</li>
                    <li><strong>Kênh Telegram bao gồm:</strong>
                        <br>
                        - Báo kèo siêu nhanh - chất (Tối thiểu 1 kèo/ngày, kèo ngắn - trung - dài hạn);
                        <br>
                        - Kênh cung cấp thông tin đặc biệt (Coin list sàn, Test ví, Airdrop, Hardfork, hội thảo ...)</li>
                    <li>- Tham gia học class offline hoặc online về trade coin</li>
                    <li>- Tham gia offline cùng trade coin, chia sẻ kiến thức, kinh nghiệm cao cấp tại văn phòng</li>
                </ul>
                <div style="text-align: center">
                    <span class="blinking-cursor"> <img src="../../assets/left-to-right-arrow.png" width="16" height="16"> </span>
                    <button *ngIf="!currentUser" type="button" class="btn btn-success" [routerLink]="['../packagedetail', 'supervip']">Đăng ký ngay</button>
                    <button *ngIf="currentUser" type="button" class="btn btn-success" [routerLink]="['../payment', 'supervip']">Nâng cấp ngay</button>
                    <span class="blinking-cursor"> <img src="../../assets/right-to-left-arrow.png" width="16" height="16"> </span>
                </div>
            </div>
        </div>
    </div>
</div>