<div class="col-md-6 col-md-offset-3">
    <h1>Hi {{currentUser.firstName}}!</h1>
    <p>You're logged in with Angular 2!!</p>
    <h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users">
            <ul class="list-inline">
                <li>{{user.username}} ({{user.firstName}} {{user.lastName}}) - </li>
                <!-- <li><a style="cursor: pointer;" (click)="deleteUser(user.id)">Detail</a></li> -->
                <li><a style="cursor: pointer;" (click)="deleteUser(user.id)">Delete</a></li>
            </ul>
        </li>
    </ul>
    <p><a [routerLink]="['/register']">Create User</a></p>
</div>